{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "web-boilerplate",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "ivanvarga/web-boilerplate:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "5000"
    }
  ]
}